<html>
<head>
	<title>Listar Atendentes</title>
	<link href="/css/style.css" rel="stylesheet"  media="all" />
	<link href="/css/layout-colors.css" rel="stylesheet"  media="all" />
	<link href="/css/main-style.css" rel="stylesheet"  media="all" />
	<link href="/css/main.css" rel="stylesheet"  media="all" />
</head>
<body>
	<nav class="categories-nav">
		<ul class="container">
			<li class="category"><a href="">CHALLENGE ANDAMAS - SISTEMA DE SERVICE DESK</a></li>
		</ul>
	</nav>
	<header id="product-highlight" class="clearfix">
			<div id="product-overview" class="container">
				<h1 class="product-title">Atendentes Cadastrados</h1>
			</div>
	</header>
	<div class="container">
		<table width="100%" >
	    <tr>
	        <td><h3>ID</h3></td>
	        <td><h3>Nome</h3></td>
	    </tr>
	    <% for(var i=0; i<lista.length; i++) {%>
	        <tr>
	            <td><%= lista[i].id %></td>
	            <td><%= lista[i].nome %></td>
	        </tr>
		<% } %>
		</table>
		<br>
		<br>
		<a href="/">Voltar para Home</a>
		<a href="/atendentes/add">Cadastrar Atendentes</a>
	</div>
</body>
</html>