<html>
<head>
	<title>Sistemas Service Desk</title>
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/css/layout-colors.css" rel="stylesheet" />
	<link href="/css/main-style.css" rel="stylesheet" />
	<link href="/css/main.css" rel="stylesheet" />
</head>
<body >
	<nav class="categories-nav">
		<ul class="container">
			<li class="category"><a href="">CHALLENGE ANDAMAS - SISTEMA DE SERVICE DESK</a></li>
		</ul>
	</nav>
	<header id="product-highlight" class="clearfix">
		<div id="product-overview" class="container">
			<h1 class="product-title">SISTEMA DE SERVICE DESK</h1>
		</div>
	</header>
	<div class="container">
		<section class="summary">
			<ul>
				<li>
					<h3>Abrir Incidente <a href="/incidentes/add">clique aqui</a>.</h3>
				</li>
				<li>
					<h3>Listar incidentes <a href="/incidentes">clique aqui</a>.</h3>
				</li>
			</ul>
			<ul>
				<li>
					<h3>Cadastrar Cliente <a href="/clientes/add">clique aqui</a>.</h3>
				</li>
				<li>
					<h3>Listar Clientes <a href="/clientes">clique aqui</a>.</h3>
				</li>
			</ul>
			<ul>
				<li>
					<h3>Cadastrar Atendente <a href="/atendentes/add">clique aqui</a>.</h3>
				</li>
				<li>
					<h3>Listar Atendentes <a href="/atendentes">clique aqui</a>.</h3>
				</li>
			</ul>
		</section>
	</div>
</body>
</html>